*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    width:1400px;
    max-width:1900px;
    height:100%;
    margin: 0 auto;
}
/* 版心 */
.same2{
    width: 100%;
}
.same{
    width: 1000px;
    margin: 0 auto;
}
/* 头部 */
.header{
    border-bottom: 1px solid #D9D9D9;
    /* box-shadow: 0 0px 15px 0px #cecfcf inset; */
}
header{
    height: 75px;
}
header img{
    width: 134px;
    height: 53px;
    margin-top: 11px;
}
header ul{
    margin-top: -30px;
    margin-left: 197px;
}
header ul li{
    width: 80px;
    height: 20px;
    float: left;
    font-weight: 100;
}

header ul li:nth-of-type(5){width: 33px;}
header ul li a{
    text-decoration: none;
    color: black;
}
header img:nth-of-type(2){
    width: 20px;
    height: 20px;
    float: left;
    margin-top: -8px;
    margin-left: 336px;
}
header button{
    border:1px solid coral;
    color: coral;
    width: 52px;
    height: 31px;
    border-radius: 5px;
    float: right;
    margin-top: -16px;
}
/* 主体部分 */
section{
    height: 955px;
    border-top: 1px solid transparent;
}
/* 帮助中心 */
section .help{
    width: 270px;
    height: 320px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-top: 50px;
    float: left;
    padding: 35px 22px;
    box-sizing: border-box; 
}
section .help h3{
    margin-left: 15px;
    margin-bottom: 10px;
}
section .help div{
    width: 226px;
    height: 1px;
    background-color: #A2A2A2;
}
section .help h4{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 500;
}
section .help h4:nth-of-type(2){margin-top: 20px;}
section .help p{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 14px;
    color: #5A5A69;
}
/* 免费试用 */
.cooperate{
    width: 700px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-top: 50px;
    float: right;
    padding: 35px 22px;
    box-sizing: border-box;
}
.cooperate h3{
    margin-bottom: 10px;
}
.cooperate  div{
    width: 656px;
    height: 1px;
    background-color: #A2A2A2;
}
.cooperate h4{
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 25px;
    color: #535967;
}
.cooperate p{
    font-size: 14px;
    color: #5A5A69;
    line-height: 25px;
}
/* 页脚 */
footer{
    height: 360px;
    background-color: #4F4F4F;
}
.footer{
    height: 360px;
    position: relative;
}
.footer img{
    width: 160px;
    height: 160px;
    margin-top: 40px;
}
.footer img:nth-of-type(2){
    width: 125px;
    height: 50px;
    position: absolute;
    margin-top: 40px;
    left: 178px;
}
.footer p{
    color: #938C7C;
    position: absolute;
    left: 178px;
    font-size: 12px;
    top:110px;
}
.footer p:nth-of-type(2){top:125px}
.footer p:nth-of-type(3){top: 168px;}
.footer p:nth-of-type(4){top:184px}
.footer ul{
    position: absolute;
    top:40px;
    left: 344px;
}
.footer li{
    width: 96px;
    height: 22px;
    font-size: 12px;
    color: #938C7C;
}
.footer ul li:nth-of-type(1){
    height: 43px;
    color: white;
}
.footer ul:nth-of-type(2){
     left: 463px;
}
.footer ul:nth-of-type(2) li{
    width: 70px;
}
.footer ul:nth-of-type(3){
    left: 533px;
}
.footer ul:nth-of-type(3) li{
   width: 65px;
}
.footer ul:nth-of-type(4){
    left: 626px;
}
.footer ul:nth-of-type(4) li{
   width: 150px;
}
.footer ul:nth-of-type(5){
    left: 800px;
}
.footer ul:nth-of-type(5) li{
   width: 170px;
}
.footer p:last-of-type{
    top: 310px;
    left: 462px;
}
.footer a{
    text-decoration: none;
    color: white;
}